.head-page,
.head-page .container,
.head-page .container .head-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-page {
    width: 100%;
    height: 100vh;
}
.head-page > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.head-page .container {
    width: 90%;
    margin: 0 auto;
}
.head-page .container .head-text {
    width: 600px;
}
.head-page .container .head-text > h2,
.head-page .container .head-text > h3,
.head-page .container .head-text > p {
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
}
.head-page .container .head-text > h2 {
    color: orangered;
    font-size: 40px;
}
.head-page .container .head-text > h3 {
    font-size: 25px;
}
@media (max-width: 400px) {
    .head-page .container .head-text > h2 {
        font-size: 30px;
    }
    .head-page .container .head-text > h3 {
        font-size: 20px;
    }
}
@media (max-width: 700px) {
    .head-page .container .head-text {
        width: 100%;
    }
}