html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head-of-page {
    position: relative;
    width: 100%;
    height: 100vh;
}
.head-of-page .parent-of-slides {
    position: relative;
    width: 100%;
    height: 100%;
}
.head-of-page .parent-of-slides .slide {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.head-of-page .parent-of-slides .slide > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.head-of-page .parent-of-slides .slide .slide-text {
    width: 600px;
    text-align: center;
}
.head-of-page .parent-of-slides .slide .slide-text > h2 ,
.head-of-page .parent-of-slides .slide .slide-text > h3 ,
.head-of-page .parent-of-slides .slide .slide-text > p ,
.head-of-page .parent-of-slides .slide .slide-text > a.explore-btn {
    margin: 20px 0;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    transition-delay: var(--i);
    font-weight: normal;
} 
.head-of-page .parent-of-slides .slide .slide-text > h2 {
    font-size: 30px;
    font-weight: normal;
    color: orangered;
}
.head-of-page .parent-of-slides .slide .slide-text > h3 {
    font-size: 45px;
}
.head-of-page .parent-of-slides .slide .slide-text > p {
    line-height: 1.6;
}
.head-of-page .parent-of-slides .slide.swiper-slide-active .slide-text > h2 ,
.head-of-page .parent-of-slides .slide.swiper-slide-active .slide-text > h3 ,
.head-of-page .parent-of-slides .slide.swiper-slide-active .slide-text > p ,
.head-of-page .parent-of-slides .slide.swiper-slide-active .slide-text > a.explore-btn {
    transform: translateY(0);
    opacity: 1;
}
@media (max-width: 400px) {
    .head-of-page .parent-of-slides .slide .slide-text > h2 {
        font-size: 20px;
    }
    .head-of-page .parent-of-slides .slide .slide-text > h3 {
        font-size: 30px;
    }
    .head-of-page .parent-of-slides .slide .slide-text > p {
        font-size: 16px;
    }
    .head-of-page .parent-of-slides .slide .slide-text > a.explore-btn {
        width: 170px;
        height: 40px;
    }
    .head-of-page .parent-of-slides .slide .slide-text > a.explore-btn > i {
        font-size: 20px;
    }
}
@media (max-width: 530px) {
    .head-of-page .parent-of-slides .slide .slide-text {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .head-of-page .parent-of-slides .slide .slide-text > h2,
    .head-of-page .parent-of-slides .slide .slide-text > h3,
    .head-of-page .parent-of-slides .slide .slide-text > p,
    .head-of-page .parent-of-slides .slide .slide-text > a.explore-btn {
        margin: 10px 0;
        text-align: center;
    }
    .head-of-page .parent-of-slides .slide .slide-text > p {
        text-align: center;
    }
}
.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.45);
}
.video > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.video .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    width: 500px;
}
.video .text > h2 {
    font-weight: normal;
    color: snow;
    text-align: center;
    margin: 10px 0;
}